<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock de Ejemplares</title>
    <link rel="stylesheet" th:href="@{/CSS/Stock.css}">
</head>
<body>

    <!-- Header -->
    <header>
        <div class="logo">
            <img th:src="@{/Images/logosinfondo.png}" alt="Logo">
        </div>
        <h1>STOCK DE EJEMPLARES</h1>
        <th:block th:if="${session.userRole == 'ADMIN'}">
            <a th:href="@{/ViveroAdmin}"><button class="logout-btn">Volver atrás</button></a>
        </th:block>

        <th:block th:if="${session.userRole == 'PERSONAL'}">
            <a th:href="@{/ViveroPersonal}"><button class="logout-btn">Volver atrás</button></a>
        </th:block>

        <th:block th:if="${session.userRole == null}">
            <a th:href="@{/}"><button class="logout-btn">Volver atrás</button></a>
        </th:block>
    </header>

    <!-- Contenido principal: tabla de stock con barra lateral -->
    <div class="stock-list">
        <!-- Contenedor con scroll horizontal o vertical -->
        <div class="scrollable-table">
            <table>
                <thead>
                    <tr>
                        <th>Código de Planta</th>
                        <th>Cantidad Disponible de Ejemplares</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="stock : ${stockPlantas}">
                        <td th:text="${stock[0]}">Código Planta</td>
                        <td th:text="${stock[1]}">Cantidad</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>
