<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Vivero</title>
<link rel="stylesheet" th:href="@{../CSS/VerPlantas.css}">
</head>
<body>

	<!-- Header -->
	<header>
		<div class="logo">
			<img th:src="@{../Images/logosinfondo.png}" alt="Logo">
		</div>
		<h1>¡LISTADO DE PLANTAS!</h1>
		<th:block th:if="${session.userRole == 'ADMIN'}">
			<a th:href="@{/ViveroAdmin}"><button class="logout-btn">Volver atrás</button></a>
		</th:block>

		<th:block th:if="${session.userRole == 'PERSONAL'}">
			<a th:href="@{/ViveroPersonal}"><button class="logout-btn">Volver atrás</button></a>
		</th:block>

		<th:block th:if="${session.userRole == null}">
			<a th:href="@{/}"><button class="logout-btn">Volver atrás</button></a>
		</th:block>
	</header>

	<!-- Contenido principal. Listado de plantas -->
	<div class="plant-list">
		<table>
			<thead>
				<tr>
					<th>Código</th>
					<th>Nombre Común</th>
					<th>Nombre Científico</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="planta : ${plantas}">
					<td th:text="${planta.codigo}">Código</td>
					<td th:text="${planta.nombreComun}">Nombre Común</td>
					<td th:text="${planta.nombreCientifico}">Nombre Científico</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>
