<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vivero</title>
    <link rel="stylesheet" th:href="@{/CSS/ViveroInvitado.css}">
</head>
<body>

	<!-- Header -->
    <header>
        <div class="logo">
            <img th:src="@{../Images/logosinfondo.png}" alt="Logo">
        </div>
        <h1>¡BIENVENIDXS AL VIVERO!</h1>
        <a th:href="@{/salir}" class="button logout-btn">Salir</a>
    </header>

	<!-- Slider de fotografías -->
    <div class="slider">
        <img th:src="@{../Images/slider01.jpg}" alt="Foto floral 01">
        <img th:src="@{../Images/slider02.jpg}" alt="Foto floral 02">
        <img th:src="@{../Images/slider03.jpg}" alt="Foto floral 03">
    </div>

	<!-- Contenido principal -->
    <div class="main-content">
        <div class="button-container">
            <a th:href="@{/VerPlantas}" class="button">Ver Plantas</a>
            <a th:href="@{/login}" class="button">Iniciar Sesión</a>
            <a th:href="@{/CrearCliente}" class="button">Alta Cliente</a>
        </div>
    </div>
</body>
</html>
