/* Ajustes generales para el body */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Fondo gris claro para el cuerpo */
}

/* Estilo del header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Para alinear el logo y el botón a los extremos */
    background-color: black;
    color: white;
    padding: 10px 20px;
    position: fixed; /* Fijar el header en la parte superior */
    top: 0;
    width: 100%;
    z-index: 10;
}

header .logo img {
    height: 30px; /* Ajusta el tamaño del logo */
    margin-right: 15px; /* Separación entre logo y texto */
}

header h1 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
}

header .logout-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    border-color: white;
}

header .logout-btn:hover {
    background-color: #d3a51a;
}

/* Estilo del contenedor del formulario */
.container {
    background: white; /* Fondo blanco solo para el formulario */
    max-width: 320px;
    width: 90%;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 100px; /* Para que no quede tapado por el header */
    border: 5px solid #d3d3d3; /* Borde gris alrededor */
}

/* Estilo de los campos del formulario */
.form-group {
    margin-bottom: 10px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    color: black;
    font-size: 14px;
    margin-bottom: 3px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    background-color: #000;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #333;
}

/* Mensajes de éxito y error */
.success-message, .error-message {
    text-align: center;
    font-size: 1em;
    margin-top: 10px;
    padding: 8px;
    border-radius: 4px;
    font-weight: bold;
    width: 100%;
    max-width: 280px;
    margin: 15px auto;
}

.success-message {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}

.error-message {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}
