body {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    min-height: 100vh; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-image: url('../Images/slider02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 50px;
    margin-right: 10px;
}

header h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
    flex-grow: 1;  
}

.logout-btn {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    border-color: white;
}

.logout-btn:hover {
    background-color: #d3a51a;
}

.container {
    background: white;
    max-width: 400px;
    width: 100%;
    margin-top: 100px; 
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    min-height: 500px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
}


.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #333;
}

.success-message, .error-message {
    text-align: center;
    font-size: 1.2em;
    margin-top: 15px;
    padding: 12px;
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
    max-width: 350px;
    margin: 20px auto;
}

.success-message {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}

.error-message {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}
