

body {
    font-family: Arial, sans-serif;
    background-image: url('../Images/slider03.jpg');
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
   
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 50px;
    margin-right: 10px;
}

header h1 {
    margin: 0;
    align-content: center;
    font-size: 24px;
}

.logout-btn {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    border-color: white;
}

.logout-btn:hover {
    background-color: #d3a51a;
}

main {
    padding: 20px;
    	background-color:white;
    max-width: 600px;
	margin: 200px auto 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

form {
    margin-top: 20px;
}

div {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

select, input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}

select:focus, input:focus {
    border-color: black;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: black;
    border: none;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d3a51a;
}

div[style="color: red;"] p {
    font-size: 1rem;
    color: red;
    background-color: #f8d7da;
    padding: 10px;
    border-radius: 4px;
}

div[style="color: green;"] p {
    font-size: 1rem;
    color: green;
    background-color: #d4edda;
    padding: 10px;
    border-radius: 4px;
}

form {
    margin-top: 20px;
}

@media (max-width: 768px) {
    main {
        padding: 15px;
        margin: 0 10px;
    }

    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.3em;
    }
}
