body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    background-image: url('../Images/slider02.jpg'); 
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black; 
    color: white;
    padding: 15px 25px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 55px;
    margin-right: 15px;
}

header h1 {
    margin: 0;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;  
    flex-grow: 1;  
}

/* Botón de "Volver atrás" */
.logout-btn {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    border-color: white;
}

.logout-btn:hover {
    background-color: #d3a51a;
}

.plant-list {
    padding: 25px;
    width: 90%;
    max-width: 1000px;
    margin-top: 120px;  
    text-align: center;
}

/* Contenedor de la tabla con scroll */
.table-scroll {
    max-height: 300px; 
    overflow-y: auto; 
    margin-top: 30px;
    border: 1px solid #ccc; 
    border-radius: 8px; 
}

table {
    width: 100%;
    border-collapse: collapse;  
    background-color: white;
}

th, td {
    padding: 15px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: black;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

td {
    background-color: rgba(255, 255, 255, 0.1);
    color: black;
}

tr:hover td {
    background-color: black;
    color: white;
}

@media (max-width: 768px) {
    header {
        padding: 10px 15px;
    }

    header h1 {
        font-size: 20px; 
    }

    .logout-btn {
        font-size: 14px;
        padding: 8px 16px; 
    }

    .plant-list {
        width: 95%;
    }

    table th, table td {
        font-size: 14px;  
        padding: 10px;    
    }

    table {
        margin-top: 20px; 
    }
}
